---

---

<div class="page-comment">
  <script
    src="https://giscus.app/client.js"
    data-repo="minorblocker/minorblocker.github.io"
    data-repo-id="R_kgDOHN8cJw"
    data-category="Announcements"
    data-category-id="DIC_kwDOHN8cJ84CVCHq"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme={"dark"}
    data-lang="en"
    crossorigin="anonymous"
    async
  >
  </script>
</div>

<style>
  .page-comment {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
</style>
